@import "styles.scss";

table {
  width: 100%;
  padding: 15px;

  &:first-child {
    & th {
      text-align: left;
      padding: 20px 10px;
    }
  }

  & td {
    padding: 10px;
  }

  & p {
    color: $grey2;
  }
}