<div>
  <div class="topbar">
    <img
      class="logo"
      src="https://developers.salesloft.com/images/landing_logo.svg"
      alt="Salesloft logo"
    >

    <p class="heading">{{ header }}</p>

    <div class="nav">
      <app-button
        label="People"
        (click)="onPeopleClick()"
      ></app-button>

      <app-button
        label="Email Character Count"
        (click)="onEmailCharacterCountClick()"
      ></app-button>

      <app-button
        label="Find Duplicates"
        (click)="onFindDuplicatesClick()"
      ></app-button>
    </div>
  </div>
</div>
